.container {
    width: 100%;
    box-sizing: border-box;
    height: calc(100%-100px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title {
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 3px;
    position: relative;
    left: -200px;
    font-size: 30px;
}

.input-box {
    border: 4px solid #ab2a19;
    border-radius: 5px;
    padding: 12px;
    width: 600px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom:30px;
    font-weight: 700;
}

.add-in-button {
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    background-color: #40f99b;
    height: 75px;
    font-size: 30px;
    border: none;
    border-radius: 100px;
    width: 600px;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}